<% content_for :tool_bar do %>
    <div class="toolbar" align="center">
      <form class="form-inline navbar-search search">
        <div class="input-append btn-group">
          <input type="text" class="search-query input-xlarge" placeholder="search for tips ">
          <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
          </ul>
        </div>
      </form>
    </div>
<% end %>

<div id="user_states" class="modal-form no-shadow">
  <div class="modal-header">
  </div>
  <div class="form-box">
    <header class="ui-min-header">
      <h3 class="letter_pressed light_header ">Edit Your Profile</h3>
    </header>
    <%= simple_form_for(current_user, :method => "put",:url => user_url(current_user)) do |f| %>
    <div class="form-body  row-fluid">
      <div class="span3">
        <div class="steps form-container">
          <% if current_user.photo.present? %>
              <a class="preview photo_chooser">
                <div class="image_wrap">
                  <div class="image-container">
                    <%= image_tag current_user.photo.url(:croppable), :alt =>current_user.name %>
                    <span class="prev_status">change photo</span>
                  </div>
                </div>
              <span class="loading_pane help-inline">
                <i class="icon-picture"></i> preview
              </span>
              </a>
          <% else %>
              <a id="pick" class="upload_btn photo_chooser" >
              <span class="ui-btn-inner">
              <span class="ui-icon"><i class="icon-picture"></i></span>
                <span class="ui-text">Pick a photo or drag photo here</span>
              </span>
              </a>
          <% end %>
          <div id="profile_upload_photo" data-upload_url="<%= change_photo_users_url(:format=>"json")%>" ></div>
          <div id="profile_upload_photo_preview"></div>
        </div>
      </div>

      <div class="span9">
        <div class="rt form-container">
          <%= f.error_notification %>
              <div class="form-inputs ">
                <%= f.input :first_name,:label => 'First Name'%>
                <%= f.input :last_name,:label => 'Last Name' %>
              </div>
        </div>
      </div>
    </div>
    <div class="footer">
             <button type="submit" class="btn btn-primary">Next &raquo; </button>
    </div>
    <% end %>
  </div>
</div>
</div>
<!-- templates-->
<% content_for :javascript_contents do %>
    <%= javascript_include_tag "controller/profiles" %>
<% end %>

<script id="post-upload-progress-tmpl" type="text/x-jquery-tmpl">
  <div class="photo-upload-progress">
    <span class="help-inline"><i class="icon-picture"></i> <span class="status"></span></span>
    <div class="progress progress-success progress-striped active">
      <div class="bar"></div>
    </div>
  </div>
</script>
<script id="post-upload-error-tmpl" type="text/x-jquery-tmpl">
  <div class="photo-upload-error">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <i class="icon-warning-sign"></i> <strong> Error occurred!</strong>
    </div>
  </div>
</script>
<script id="post-upload-preview-tmpl" type="text/x-jquery-tmpl">
  <a class="preview photo_chooser">
    <div class="image_wrap">
      <div class="image-container">
        <img src='${src}'/>
      </div>
      </div>
              <span class="loading_pane help-inline">
                <i class="icon-picture"></i> preview
              </span>
    </div>
  </a>
</script>